<h1>This is form to input table</h1>


<h1>Exercise list</h1>

<table Id = "dataTable">
<th>
    <tr>
        <td>name</td>
        <td>reps</td>
        <td>weight</td>
        <td>date</td>
    </tr>
    <tb>
        
    </tb>
</th>


</table>