<h1>Enter your exercise here</h1>
<form action="/" method="post">
    <lable>Name:
    <lable>Reps:
    <lable>Weight:
    <lable>Date:    
    <br/>
    <input type="text" name = "name" size = "30" maxlenght = "100">
    <input type="text" name = "reps" size = "30" maxlenght = "100">
    <input type="number" name = "weight" size = "30" maxlenght = "100">
    <input type="date" name = "date" size = "30" maxlenght = "100">
	<input type="submit" name="command" value="enter">
    <br/>
</form>

<h1>Exercise list</h1>

<table Id = "dataTable">
<th>
    <tr>
        <td>name</td>
        <td>reps</td>
        <td>weight</td>
        <td>date</td>
    </tr>
    <tb>

    </tb>
</th>


</table>